@font-face {
    font-family: 'Gloucester MT Extra Condensed';
    src: url('../fonts/gloucester.ttf');
}

.iescolhe {
    -fx-font-family: 'Gloucester MT Extra Condensed';
    -fx-font-size: 115;
}

BorderPane {
    -fx-pref-width: 905;
    -fx-pref-height: 634;
    -fx-min-width: 905;
    -fx-min-height: 634;
    -fx-max-width: 905;
    -fx-max-height: 634;
    -fx-background-color: #ff1d05;
    -fx-padding: 0 10 0 10;
}

.botoes {
    -fx-cursor: hand;
}

.botoes:hover {
    -fx-opacity: 0.85;
}


.scroll-bar:vertical .thumb {
    -fx-padding: 0 0 0 10;
    -fx-background-color: #A9A9A9;
    -fx-cursor: hand;
}
